@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --font-destaque: 'Inter', sans-serif;
}

#content-header {
    padding: 43px 70px;
    font-family: var(--font-destaque);
    border-bottom: 1px solid #DBDBDB;
}

#content-header h1 {
    text-align: center;
    font-size: 36px;
    line-height: 35px;
    font-weight: 200;

    text-transform: uppercase;

    color: #616161;
}

#content-header svg {
    color: var(--cor-primaria);
}

#content-header p {
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    margin-left: 26px;

    color: #0078A0;
}

#progress-bar {
    padding: 47px;
    pointer-events: none;
}

#progress-bar img {
    margin: 0 auto;
    display: block;
}

#content {
    display: flex;
}

#main-panel {
    border-right: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

.content-margin {
    padding: 0px 70px;
}

.main-size {
    width: 875px;
}

#main-panel h3 {
    font-weight: 700;

    font-size: 1.5rem;
    text-transform: uppercase;

    color: #1B394E;
}

#main-panel h5 {
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 0;;

    color: #616161;
}

#main-panel h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #616161;

    margin: 31px 0;
}

#main-panel h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;

    color: #616161;
}

#main-panel #paying-methods {
    background: #F9F9F9;
    border-top: 1px solid #DBDBDB;
    padding-bottom: 60px;
}

#side-bar {
    padding: 0 81px;  
    flex-grow: 1;
}

#side-bar h2 {
    font-size: 2.25rem;
    font-weight: 200;
    color: var(--cor-texto);
}

.botao-lateral {
    cursor: pointer;
    width: 100%;
    margin-top: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1rem;
}

.botao-primario {
    background: var(--cor-primaria);
    color: #FFF;
}

.botao-secundario {
    background: #fff;
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
}


#botao-lateral:hover {
    background: var(--cor-texto-destaque)
}

/* Perfil */
#perfil {
    text-align: center;
    margin-top: 39px;
    color: var(--cor-texto);
    font-family: var(--font-destaque);
    font-weight: 400;
}

#perfil h5 {
    padding: 15px 0 16px 0;
    border-top: 1px solid var(--cor-borda);
    border-bottom: 1px solid var(--cor-borda);
    font-family: var(--font-destaque);
    font-weight: 400;
}

#perfil .info {
    text-align: left;
}

.bold {
    font-weight: 600;
}

#perfil img {
    margin: 23px 0 19px 0;
}

/* Menu de pagamento */
#method-selector {
    display: inline-block;
    background: #fff;
    background-color: #fff;
}

#method-selector select, .radio {
    width: 875px;
    appearance: none;

    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-left: 5px solid #008CBA;
    border-right: 5px solid #008CBA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    
    padding: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #616161;
}

select::-ms-expand {
    display: none;
}

.chevron {
    display: inline-block;
    background: url("../images/chevron-down-solid.svg") no-repeat right 15px center;
    background-size: 2.5%;
}

/* Radio Button */

.radio {
    display: flex;
    width: 100%;
    cursor: pointer;
    margin-bottom: 25px;
 }

 .radio p {
    padding-left: 15px;
 }

/* Card de pagamento */

.payment-card, .card {
    background-color: #fff;
    border: 1px solid #DBDBDB;
    padding: 0 20px 20px 20px;
    display: inline-block;
}

.card {
    border-left: 5px solid #008CBA;
    min-width: 300px;
}

.payment-card {
    margin: 28px 0;
}

.flex {
    display: inline-flex;
    justify-content: space-between;
}

.payment-card label, .card p {
    margin-top: 20px;
    display: block;
}

.payment-card input, .payment-card select {
    width: 270px;
    margin-top: 13px;
    display: inline-block;
    border: 2px solid var(--cor-primaria);
    border-radius: 3px;
    padding: 8px 5px;
    background-color: #fff;

    font-family: var(--font-destaque);
    color: var(--cor-texto-destaque);
}

.payment-card #month {
    width: 50px;
    background: #FFF;
    margin-right: 14px;
}

.payment-card  #year  {
    width: 76px;
    background: #FFF;
}

.payment-card #codigo-seguranca {
    width: 100px;
}

.payment-card .flexbox-item {
    margin-left: 23px;
}

.payment-card #parcela {
    width: 100%;
    display: block;
}

/* Pagina de revisão */

.mudar-pagamento {
    text-decoration: underline;
    margin: 15px 0 0 0;
}

.borda-superior {
    text-align: center;
}

/* Compra realizado */
#main-panel h2 {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-family: var(--font-destaque);
    font-weight: 400;
    margin-bottom: 36px;
    padding: 20px 0;
    background-color: #4FC01A;
    border-radius: 5px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#info-compra {
    display: inline-block;
    width: 50%;
}

#info-compra p {
    margin: 10px 0;
    font-family: var(--font-destaque);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--cor-texto-destaque);
}

.info-geral {
    background-color: #FFF;
    border: 1px solid var(--cor-borda);
    margin-top: 10px;
    padding: 15px;
    border-radius: 7px;
}

.info-geral h4 {
    margin-top: 0 !important;
}

.info-geral h5 {
    padding: 5px !important;

}

.sucesso {
    background-color: rgb(79, 192, 26, 0.075);
}